@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap");
/**

	VARIABLE:
	- Color Palletes
	- Typography

 */
/**
=========================
	- Color Palletes
=========================
*/
/**
=========================
	- Typography
=========================
*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  scroll-behavior: smooth;
}

#login-page {
  margin: 3rem 0;
  text-align: center;
}

#login-page .hero {
  width: 100%;
  text-align: center;
}

#login-page .hero img {
  width: 400px;
  height: auto;
}

#login-page h4 {
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 4px;
}

#login-page h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 10px;
}

#login-page p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #828282;
  margin-bottom: 28px;
}

#login-page .form .form-control {
  margin-bottom: 14px;
  border: 1px solid #C5C5C5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 50px;
}

#login-page .form button {
  width: 100%;
  height: 50px;
  color: #fff;
  margin-bottom: 16px;
  background: #1F57A8;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  border: none;
}

#login-page .form a {
  color: #1F57A8;
  text-decoration: none;
}

.btn-orange {
  padding: 14px 28px;
  background: #F26D34;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
}

.btn-orange i {
  font-size: 16px;
  margin-right: 6px;
}

.btn-blue {
  padding: 14px 28px;
  background: #1F57A8;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
}

.btn-blue i {
  font-size: 16px;
  margin-right: 6px;
}

#pegawai-page {
  margin: 3rem 0;
}

#pegawai-page .heading {
  margin-bottom: 28px;
}

#pegawai-page .heading h4 {
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 4px;
}

#pegawai-page .heading h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 10px;
}

#pegawai-page .card-pegawai {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  -webkit-box-shadow: 0px 4px 10px rgba(165, 165, 165, 0.25);
          box-shadow: 0px 4px 10px rgba(165, 165, 165, 0.25);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

#pegawai-page .card-pegawai label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #919191;
  margin-bottom: 4px;
  display: block;
}

#pegawai-page .card-pegawai h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 0;
}

.label-blue {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #1F57A8;
  padding: 6px 12px;
  background-color: #B7D4FF;
  border-radius: 4px;
}

.label-orange {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #FF852D;
  padding: 6px 12px;
  background-color: #FFE3CF;
  border-radius: 4px;
}

.text-green {
  color: #30971F !important;
}

.cta-view {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dfdfdf;
  padding: 3px 4px;
}

.cta-view i {
  color: #7A7A7A;
  font-size: 24px;
}

.cta-edit {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c2d4f0;
  padding: 3px 4px;
}

.cta-edit i {
  color: #427dd6;
  font-size: 22px;
}

.cta-delete {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fccece;
  padding: 3px 4px;
}

.cta-delete i {
  color: #dd5757;
  font-size: 22px;
}

#modalAbsensi .modal-header {
  border-bottom: 0;
  padding: 10px;
}

#modalAbsensi .modal-dialog {
  max-width: 400px;
  border-radius: 8px;
}

#modalAbsensi .modal-body {
  margin-top: -2rem;
  padding: 0 2rem;
}

#modalAbsensi .modal-body .btn-blue {
  width: 100%;
  margin: 0 0 1.5rem 0;
}

#modalAbsensi .modal-body .list-item {
  margin-bottom: 16px;
}

#modalAbsensi .modal-body .list-item label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #919191;
  margin-bottom: 4px;
  display: block;
}

#modalAbsensi .modal-body .list-item h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 0;
}

#modalAbsensi .close {
  background-color: #fff;
  border: none;
  font-size: 28px;
  color: #BABABA;
  padding: 0;
}

#modalIzin .modal-header {
  border-bottom: 0;
  padding: 1.5rem 2rem;
}

#modalIzin .modal-header h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 0;
}

#modalIzin .modal-dialog {
  border-radius: 8px;
}

#modalIzin .modal-body {
  padding: 0 2rem 1.5rem 2rem;
}

#modalIzin .modal-body .form-izin label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #222222;
  margin-bottom: 8px;
  display: block;
}

#modalIzin .modal-body .form-izin textarea.form-control {
  height: auto;
}

#modalIzin .modal-body .form-izin .form-control {
  margin-bottom: 14px;
  border: 1px solid #C5C5C5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 50px;
}

#modalIzin .modal-body .btn-blue {
  width: 100%;
  margin: 0 0 1.5rem 0;
}

#modalIzin .modal-body .title {
  margin-bottom: 12px;
}

#modalIzin .modal-body .title h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #222;
  margin-bottom: 0;
  display: block;
}

#modalIzin .modal-body .list-item {
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #E5E5E5;
  width: 100%;
  background-color: #fff;
  padding: 16px;
}

#modalIzin .modal-body .list-item label {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #919191;
  margin-bottom: 4px;
  display: block;
}

#modalIzin .modal-body .list-item h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 0;
}

#modalIzin .modal-body .list-item .label-blue {
  font-size: 12px;
}

#modalIzin .modal-body .list-item .label-orange {
  font-size: 12px;
}

#modalIzin .close {
  background-color: #fff;
  border: none;
  font-size: 28px;
  color: #BABABA;
  padding: 0;
}

#modalTambahPegawai .modal-header {
  border-bottom: 0;
  padding: 1.5rem 2rem;
}

#modalTambahPegawai .modal-header h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 0;
}

#modalTambahPegawai .modal-dialog {
  border-radius: 8px;
}

#modalTambahPegawai .modal-body {
  padding: 0 2rem 1.5rem 2rem;
}

#modalTambahPegawai .modal-body .form-pegawai {
  margin-bottom: 1rem;
}

#modalTambahPegawai .modal-body .form-pegawai label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #222222;
  margin-bottom: 8px;
  display: block;
}

#modalTambahPegawai .modal-body .form-pegawai textarea.form-control {
  height: auto;
}

#modalTambahPegawai .modal-body .form-pegawai .form-control {
  margin-bottom: 14px;
  border: 1px solid #C5C5C5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 50px;
}

#modalTambahPegawai .modal-body .btn-blue {
  width: 100%;
  margin: 0 0 1.5rem 0;
}

#modalTambahPegawai .modal-body .title {
  margin-bottom: 12px;
}

#modalTambahPegawai .modal-body .title h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #222;
  margin-bottom: 0;
  display: block;
}

#modalTambahPegawai .modal-body .list-item {
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #E5E5E5;
  width: 100%;
  background-color: #fff;
  padding: 16px;
}

#modalTambahPegawai .modal-body .list-item label {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #919191;
  margin-bottom: 4px;
  display: block;
}

#modalTambahPegawai .modal-body .list-item h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 0;
}

#modalTambahPegawai .modal-body .list-item .label-blue {
  font-size: 12px;
}

#modalTambahPegawai .modal-body .list-item .label-orange {
  font-size: 12px;
}

#modalTambahPegawai .close {
  background-color: #fff;
  border: none;
  font-size: 28px;
  color: #BABABA;
  padding: 0;
}

#modalEditPegawai .modal-header {
  border-bottom: 0;
  padding: 1.5rem 2rem;
}

#modalEditPegawai .modal-header h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 0;
}

#modalEditPegawai .modal-dialog {
  border-radius: 8px;
}

#modalEditPegawai .modal-body {
  padding: 0 2rem 1.5rem 2rem;
}

#modalEditPegawai .modal-body .form-pegawai {
  margin-bottom: 1rem;
}

#modalEditPegawai .modal-body .form-pegawai label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #222222;
  margin-bottom: 8px;
  display: block;
}

#modalEditPegawai .modal-body .form-pegawai textarea.form-control {
  height: auto;
}

#modalEditPegawai .modal-body .form-pegawai .form-control {
  margin-bottom: 14px;
  border: 1px solid #C5C5C5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 50px;
}

#modalEditPegawai .modal-body .btn-blue {
  width: 100%;
  margin: 0 0 1.5rem 0;
}

#modalEditPegawai .modal-body .title {
  margin-bottom: 12px;
}

#modalEditPegawai .modal-body .title h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #222;
  margin-bottom: 0;
  display: block;
}

#modalEditPegawai .modal-body .list-item {
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #E5E5E5;
  width: 100%;
  background-color: #fff;
  padding: 16px;
}

#modalEditPegawai .modal-body .list-item label {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #919191;
  margin-bottom: 4px;
  display: block;
}

#modalEditPegawai .modal-body .list-item h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 0;
}

#modalEditPegawai .modal-body .list-item .label-blue {
  font-size: 12px;
}

#modalEditPegawai .modal-body .list-item .label-orange {
  font-size: 12px;
}

#modalEditPegawai .close {
  background-color: #fff;
  border: none;
  font-size: 28px;
  color: #BABABA;
  padding: 0;
}

#modalDetailPegawai .modal-header {
  border-bottom: 0;
  padding: 10px;
}

#modalDetailPegawai .modal-dialog {
  max-width: 560px;
  border-radius: 8px;
}

#modalDetailPegawai .modal-body {
  margin-top: -2rem;
  padding: 0 2rem;
}

#modalDetailPegawai .modal-body .btn-blue {
  width: 100%;
  margin: 0 0 1.5rem 0;
}

#modalDetailPegawai .modal-body .heading-list-absensi {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  padding: 18px 32px;
  margin: 0 -32px;
}

#modalDetailPegawai .modal-body .heading-list-absensi label {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #919191;
  margin-bottom: 4px;
  display: block;
}

#modalDetailPegawai .modal-body .container-list-absensi {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

#modalDetailPegawai .modal-body .container-list-absensi::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

#modalDetailPegawai .modal-body .container-list-absensi::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
  visibility: hidden;
}

#modalDetailPegawai .modal-body .container-list-absensi::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(13, 71, 161, 0.16);
}

#modalDetailPegawai .modal-body .list-absensi {
  padding: 16px 0;
}

#modalDetailPegawai .modal-body .list-absensi h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 0;
}

#modalDetailPegawai .modal-body .list-item {
  margin-bottom: 16px;
}

#modalDetailPegawai .modal-body .list-item label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #919191;
  margin-bottom: 4px;
  display: block;
}

#modalDetailPegawai .modal-body .list-item h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 0;
}

#modalDetailPegawai .close {
  background-color: #fff;
  border: none;
  font-size: 28px;
  color: #BABABA;
  padding: 0;
}

#modalDelete .modal-header {
  border-bottom: 0;
  padding: 10px;
}

#modalDelete .modal-dialog {
  max-width: 560px;
  border-radius: 8px;
}

#modalDelete .modal-body {
  margin-top: -2rem;
  padding: 0 2rem;
}

#modalDelete .modal-body .btn-blue {
  width: 100%;
  margin: 0 0 1.5rem 0;
}

#modalDelete .modal-body .heading-list-absensi {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  padding: 18px 32px;
  margin: 0 -32px;
}

#modalDelete .modal-body .heading-list-absensi label {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #919191;
  margin-bottom: 4px;
  display: block;
}

#modalDelete .modal-body .container-list-absensi {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

#modalDelete .modal-body .container-list-absensi::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

#modalDelete .modal-body .container-list-absensi::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
  visibility: hidden;
}

#modalDelete .modal-body .container-list-absensi::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(13, 71, 161, 0.16);
}

#modalDelete .modal-body .list-absensi {
  padding: 16px 0;
}

#modalDelete .modal-body .list-absensi h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 0;
}

#modalDelete .modal-body .list-item {
  margin-bottom: 16px;
}

#modalDelete .modal-body .list-item label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #919191;
  margin-bottom: 4px;
  display: block;
}

#modalDelete .modal-body .list-item h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 0;
}

#modalDelete .close {
  background-color: #fff;
  border: none;
  font-size: 28px;
  color: #BABABA;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */