body{
    font-family: $font-default;
    background-color: #fff;
    scroll-behavior: smooth;
}
#login-page{
    margin: 3rem 0;
    text-align: center;
    .hero{
        width: 100%;
        text-align: center;
        img{
            width: 400px;
            height: auto;
        }
    }
    h4{
        font-family: $font-caveat;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #000000;
        margin-bottom: 4px;
    }
    h2{
        font-family: $font-default;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #000000;
        margin-bottom: 10px;
    }
    p{
        font-family: $font-default;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #828282;
        margin-bottom: 28px;
    }
    .form{
        .form-control{
            margin-bottom: 14px;
            border: 1px solid #C5C5C5;
            box-sizing: border-box;
            border-radius: 8px;
            font-family: $font-default;
            font-size: 14px;
            height: 50px;
        }
        button{
            width: 100%;
            height: 50px;
            color: #fff;
            margin-bottom: 16px;
            background: #1F57A8;
            border-radius: 8px;
            font-weight: 600;
            font-size: 14px;
            border: none;
        }
        a{
            color: #1F57A8;
            text-decoration: none;
        }
    }
}
.btn-orange{
    padding: 14px 28px;
    background: #F26D34;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 5px;
    i{
        font-size: 16px;
        margin-right: 6px;
    }
}
.btn-blue{
    padding: 14px 28px;
    background: #1F57A8;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 5px;
    i{
        font-size: 16px;
        margin-right: 6px;
    }
}
#pegawai-page{
    margin: 3rem 0;
    .heading{
        margin-bottom: 28px;
        h4{
            font-family: $font-caveat;
            font-weight: bold;
            font-size: 30px;
            line-height: 40px;
            letter-spacing: 0.02em;
            color: #000000;
            margin-bottom: 4px;
        }
        h2{
            font-family: $font-default;
            font-weight: bold;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.02em;
            color: #000000;
            margin-bottom: 10px;
        }
    }
    .card-pegawai{
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        box-shadow: 0px 4px 10px rgba(165, 165, 165, 0.25);
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        label{
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.02em;
            color: #919191;
            margin-bottom: 4px;
            display: block;
        }
        h4{
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.02em;
            color: #000000;
            margin-bottom: 0;
        }
    }
}
.label-blue{
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #1F57A8;
    padding: 6px 12px;
    background-color: #B7D4FF;
    border-radius: 4px;
}
.label-orange{
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FF852D;
    padding: 6px 12px;
    background-color: #FFE3CF;
    border-radius: 4px;
}
.text-green{
    color: #30971F !important;
}
.cta-view{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dfdfdf;
    padding: 3px 4px;
    i{
        color: #7A7A7A;
        font-size: 24px;
    }
}
.cta-edit{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c2d4f0;
    padding: 3px 4px;
    i{
        color: #427dd6;
        font-size: 22px;
    }
}
.cta-delete{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fccece;
    padding: 3px 4px;
    i{
        color: #dd5757;
        font-size: 22px;
    }
}
#modalAbsensi{
    .modal-header{
        border-bottom: 0;
        padding: 10px
    }
    .modal-dialog{
        max-width: 400px;
        border-radius: 8px;
    }
    .modal-body{
        margin-top: -2rem;
        padding: 0 2rem;
        .btn-blue{
            width: 100%;
            margin: 0 0 1.5rem 0;
        }
        .list-item{
            margin-bottom: 16px;
            label{
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #919191;
                margin-bottom: 4px;
                display: block;
            }
            h4{
                font-weight: 600;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.02em;
                color: #000000;
                margin-bottom: 0;
            }
        }
    }
    .close{
        background-color: #fff;
        border: none;
        font-size: 28px;
        color: #BABABA;
        padding: 0;
    }
}
#modalIzin{
    .modal-header{
        border-bottom: 0;
        padding: 1.5rem 2rem;
        h2{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.02em;
            color: #000000;
            margin-bottom: 0;
        }
    }
    .modal-dialog{
        border-radius: 8px;
    }
    .modal-body{
        padding: 0 2rem 1.5rem 2rem;
        .form-izin{
            label{
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #222222;
                margin-bottom: 8px;
                display: block;
            }
            textarea.form-control{
                height: auto;
            }
            .form-control{
                margin-bottom: 14px;
                border: 1px solid #C5C5C5;
                box-sizing: border-box;
                border-radius: 8px;
                font-family: $font-default;
                font-size: 14px;
                height: 50px;
            }
        }
        .btn-blue{
            width: 100%;
            margin: 0 0 1.5rem 0;
        }
        .title{
            margin-bottom: 12px;
            h4{
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #222;
                margin-bottom: 0;
                display: block;
            }
        }
        .list-item{
            margin-bottom: 16px;
            border-radius: 8px;
            border: 1px solid #E5E5E5;
            width: 100%;
            background-color: #fff;
            padding: 16px;
            label{
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.02em;
                color: #919191;
                margin-bottom: 4px;
                display: block;
            }
            h4{
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #000000;
                margin-bottom: 0;
            }
            .label-blue{
                font-size: 12px;
            }
            .label-orange{
                font-size: 12px;
            }
        }
    }
    .close{
        background-color: #fff;
        border: none;
        font-size: 28px;
        color: #BABABA;
        padding: 0;
    }
}
#modalTambahPegawai{
    .modal-header{
        border-bottom: 0;
        padding: 1.5rem 2rem;
        h2{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.02em;
            color: #000000;
            margin-bottom: 0;
        }
    }
    .modal-dialog{
        border-radius: 8px;
    }
    .modal-body{
        padding: 0 2rem 1.5rem 2rem;
        .form-pegawai{
            margin-bottom: 1rem;
            label{
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #222222;
                margin-bottom: 8px;
                display: block;
            }
            textarea.form-control{
                height: auto;
            }
            .form-control{
                margin-bottom: 14px;
                border: 1px solid #C5C5C5;
                box-sizing: border-box;
                border-radius: 8px;
                font-family: $font-default;
                font-size: 14px;
                height: 50px;
            }
        }
        .btn-blue{
            width: 100%;
            margin: 0 0 1.5rem 0;
        }
        .title{
            margin-bottom: 12px;
            h4{
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #222;
                margin-bottom: 0;
                display: block;
            }
        }
        .list-item{
            margin-bottom: 16px;
            border-radius: 8px;
            border: 1px solid #E5E5E5;
            width: 100%;
            background-color: #fff;
            padding: 16px;
            label{
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.02em;
                color: #919191;
                margin-bottom: 4px;
                display: block;
            }
            h4{
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #000000;
                margin-bottom: 0;
            }
            .label-blue{
                font-size: 12px;
            }
            .label-orange{
                font-size: 12px;
            }
        }
    }
    .close{
        background-color: #fff;
        border: none;
        font-size: 28px;
        color: #BABABA;
        padding: 0;
    }
}
#modalEditPegawai{
    .modal-header{
        border-bottom: 0;
        padding: 1.5rem 2rem;
        h2{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.02em;
            color: #000000;
            margin-bottom: 0;
        }
    }
    .modal-dialog{
        border-radius: 8px;
    }
    .modal-body{
        padding: 0 2rem 1.5rem 2rem;
        .form-pegawai{
            margin-bottom: 1rem;
            label{
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #222222;
                margin-bottom: 8px;
                display: block;
            }
            textarea.form-control{
                height: auto;
            }
            .form-control{
                margin-bottom: 14px;
                border: 1px solid #C5C5C5;
                box-sizing: border-box;
                border-radius: 8px;
                font-family: $font-default;
                font-size: 14px;
                height: 50px;
            }
        }
        .btn-blue{
            width: 100%;
            margin: 0 0 1.5rem 0;
        }
        .title{
            margin-bottom: 12px;
            h4{
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #222;
                margin-bottom: 0;
                display: block;
            }
        }
        .list-item{
            margin-bottom: 16px;
            border-radius: 8px;
            border: 1px solid #E5E5E5;
            width: 100%;
            background-color: #fff;
            padding: 16px;
            label{
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.02em;
                color: #919191;
                margin-bottom: 4px;
                display: block;
            }
            h4{
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #000000;
                margin-bottom: 0;
            }
            .label-blue{
                font-size: 12px;
            }
            .label-orange{
                font-size: 12px;
            }
        }
    }
    .close{
        background-color: #fff;
        border: none;
        font-size: 28px;
        color: #BABABA;
        padding: 0;
    }
}
#modalDetailPegawai{
    .modal-header{
        border-bottom: 0;
        padding: 10px
    }
    .modal-dialog{
        max-width: 560px;
        border-radius: 8px;
    }
    .modal-body{
        margin-top: -2rem;
        padding: 0 2rem;
        .btn-blue{
            width: 100%;
            margin: 0 0 1.5rem 0;
        }
        .heading-list-absensi{
            border-top: 1px solid #E7E7E7;
            border-bottom: 1px solid #E7E7E7;
            padding: 18px 32px;
            margin: 0 -32px;
            label{
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.02em;
                color: #919191;
                margin-bottom: 4px;
                display: block;
            }
        }
        .container-list-absensi{
            max-height: 250px;
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background-color: #f5f5f5;
              }
            
              &::-webkit-scrollbar {
                width: 3px;
                background-color: #f5f5f5;
                visibility: hidden;
              }
            
              &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: rgba(13, 71, 161, 0.16);
              }
        }
        .list-absensi{
            padding: 16px 0;
            h4{
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #000000;
                margin-bottom: 0;
            }
        }
        .list-item{
            margin-bottom: 16px;
            label{
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #919191;
                margin-bottom: 4px;
                display: block;
            }
            h4{
                font-weight: 600;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.02em;
                color: #000000;
                margin-bottom: 0;
            }
        }
    }
    .close{
        background-color: #fff;
        border: none;
        font-size: 28px;
        color: #BABABA;
        padding: 0;
    }
}
#modalDelete{
    .modal-header{
        border-bottom: 0;
        padding: 10px
    }
    .modal-dialog{
        max-width: 560px;
        border-radius: 8px;
    }
    .modal-body{
        margin-top: -2rem;
        padding: 0 2rem;
        .btn-blue{
            width: 100%;
            margin: 0 0 1.5rem 0;
        }
        .heading-list-absensi{
            border-top: 1px solid #E7E7E7;
            border-bottom: 1px solid #E7E7E7;
            padding: 18px 32px;
            margin: 0 -32px;
            label{
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.02em;
                color: #919191;
                margin-bottom: 4px;
                display: block;
            }
        }
        .container-list-absensi{
            max-height: 250px;
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background-color: #f5f5f5;
              }
            
              &::-webkit-scrollbar {
                width: 3px;
                background-color: #f5f5f5;
                visibility: hidden;
              }
            
              &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: rgba(13, 71, 161, 0.16);
              }
        }
        .list-absensi{
            padding: 16px 0;
            h4{
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #000000;
                margin-bottom: 0;
            }
        }
        .list-item{
            margin-bottom: 16px;
            label{
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: #919191;
                margin-bottom: 4px;
                display: block;
            }
            h4{
                font-weight: 600;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.02em;
                color: #000000;
                margin-bottom: 0;
            }
        }
    }
    .close{
        background-color: #fff;
        border: none;
        font-size: 28px;
        color: #BABABA;
        padding: 0;
    }
}