/**

	VARIABLE:
	- Color Palletes
	- Typography

 */
 /**
=========================
	- Color Palletes
=========================
*/
$color-primary:        #294A9C;
$color-primary-hover:        #223e85;
$color-border:         #ADB4BB;
$color-black:          #24343C;
$color-black-alpha:    #455A64;

 /**
=========================
	- Typography
=========================
*/
$font-default:   'Poppins', sans-serif;
$font-caveat:   'Caveat', cursive;